<%= render 'shared/page_title', title: "All Recipes" %>

<ul class="nav nav-tabs">
	<li class='active'>
		<%= link_to "Recipes", recipes_path %>
	</li>
	<li>
		<%= link_to "Chefs", chefs_path %>
	</li>
</ul>

<%= will_paginate %>

<% @recipes.each do |recipe| %>
	<div class="row">

		<div class="col-md-2">
			<selection class="chef_info center">
				<%= link_to gravatar_for(recipe.chef, size: 145), chef_path(recipe.chef) %>
				<h5>Chef Name: <%= recipe.chef.chefname %></h5>
			</selection>
		</div>

		<div class="col-lg-6 well">
			<h4><%= link_to recipe.name, recipe_path(recipe) %> </h4>
			<p><%= recipe.summary %></p>
			<% if recipe.styles.any? %>
				<p>Styles:  <%= render recipe.styles %> </p>
			<% end %>

			<% if recipe.ingredients.any? %>
			<p>Ingredients:  <%= render recipe.ingredients %> </p>
			<% end %>
			<p>
				<span class='quiet'></span><small>Created: <%= time_ago_in_words(recipe.created_at) %> ago, </small>&nbsp
						<span class='quiet'></span><small>Updated: <%= time_ago_in_words(recipe.updated_at) %> ago </small>
			</P>

			<div class="pull-right">
				<%= link_to like_recipe_path(recipe, like: true), method: :post do %> &nbsp <%= recipe.thumbs_up_total %>
					<i class="glyphicon glyphicon-thumbs-up"></i>
				<% end %> &nbsp&nbsp&nbsp&nbsp
				<%= link_to like_recipe_path(recipe, like: false), method: :post  do %> &nbsp <%= recipe.thumbs_down_total %>
					<i class="glyphicon glyphicon-thumbs-down"></i>
				<% end %>

			</div>
		</div>



		<div class="col-md-4">
			<%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
		</div>

			
	</div>
	<hr/>
<% end %>

<%= will_paginate %>
